*{
    padding: 0;
    margin: 0;
    background-color: #292929;
}
.login{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Figura{
    width: 100%;
    height: 100%;
}
.Container{
    display: flex;
}